.App{
  display: flex;
  margin: auto;
  width: 60%;
  max-width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar{
  border-radius: 50%;
}

.inputMention{
  color: #E95924;
}